[submodule "client"]
	path = client
	url = https://github.com/blastbeng/DiscordVoiceBotClient
[submodule "api"]
	path = api
	url = https://github.com/blastbeng/DiscordVoiceBotServer
[submodule "FrittoPlayTelegramBot"]
	path = FrittoPlayTelegramBot
	url = https://github.com/blastbeng/FrittoPlayTelegramBot
[submodule "FrittoPlayWhatsappBot"]
	path = FrittoPlayWhatsappBot
	url = https://github.com/blastbeng/FrittoPlayWhatsappBot
[submodule "battuteAPI"]
	path = battuteAPI
	url = https://github.com/blastbeng/battuteAPI
