[submodule "client"]
	path = client
	url = https://github.com/blastbeng/DiscordVoiceBotClient
[submodule "api"]
	path = api
	url = https://github.com/blastbeng/DiscordVoiceBotServer
[submodule "trivia_api"]
	path = trivia_api
	url = https://github.com/blastbeng/TriviaGameApi
